<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact Us - Masrur Cafe</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar">

        <h1 class="logo">Dickens Cafe</h1>

        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('menu') }}">Menu</a></li>
            <li><a href="{{ url_for('order') }}">Order</a></li>
            <li><a href="{{ url_for('track_order') }}">Track Order</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>

    </nav>


    <!-- Contact -->
    <section class="contact">

        <h2>Contact Us</h2>

        <p>📞 Phone: 0714497288</p>

        <p>📱 WhatsApp: 0714497288</p>

        <p>📍 Location: Kisumu opposite MOI Street</p>

        <p>📧 Email: clindid35@gmail.com</p>


        <h3>Send Us a Message</h3>

        <form>

            <label>Name</label>
            <input type="text"
                   placeholder="Enter your name">


            <label>Email</label>
            <input type="email"
                   placeholder="Enter your email">


            <label>Message</label>
            <textarea
                placeholder="Write your message">
            </textarea>


            <button type="submit">
                Send Message
            </button>

        </form>

    </section>


    <footer>
        <p>&copy; 2026 Dickens Cafe & Restaurant</p>
    </footer>

</body>
</html>