<!DOCTYPE html>
<html>

<head>

    <title>Menu - Masrur Cafe</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>

    <nav class="navbar">

        <h1 class="logo">Masrur Cafe</h1>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

    </nav>


    <div class="welcome">

        <h2>Our Menu</h2>

        <h3>🍕 Pizza</h3>
        <p>Chicken Pizza — KSh 600</p>
        <p>Beef Pizza — KSh 650</p>

        <h3>🍗 Chicken</h3>
        <p>Fried Chicken — KSh 350</p>
        <p>Chicken & Chips — KSh 500</p>

        <h3>🐟 Fish</h3>
        <p>Fish & Ugali — KSh 400</p>

        <h3>☕ Drinks</h3>
        <p>Fresh Juice — KSh 150</p>
        <p>Soda — KSh 80</p>

    </div>

</body>
</html>